.Toast {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 0.4rem;

    font-size: 1.1rem;
    width: fit-content;
    padding: 0.8rem;
    padding-bottom: 0.7rem;
    margin: 0 auto;

    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;

    background: black;
    border-bottom: none;
    clip-path: url(#toastClip);
    
    &:before { // Used due to lime border not looking nice when directly above lime elements (this :before makes it seem like it has a black outline while also dealing with clip-path issue with CSS outline)
        content: " ";
        position: absolute;
        z-index: -1;
        top: 1.5px;
        left: 1.5px;
        right: 1.5px;
        bottom: 0;
        border: .125rem dashed lime;
        border-bottom: none;
    }

    .toast-icon {
        font-size: 1.4rem;
        margin-right: 0.1rem;

        &.fail {
            font-size: 1.3rem;
            padding: 0.1rem;
            margin-right: 0.2rem;
            border: .125rem solid lime;
            border-radius: 50%;
        }
    }

    .btn-wrapper {
        margin-left: 1.9rem;
        font-size: 1.05rem;

        .close-btn {
            margin-left: 0.8rem;

            &.decrease-gap {
                margin-left: 0;
            }
        }
    }
}