.Folder {
    display: flex;
    align-items: center;

    padding: 1rem 0;
    border-bottom: .0625rem solid rgba(0, 255, 0, 0.700);

    p {
        padding: 0 0.2rem;
        margin: 0;
        flex: 1;

        &.folder-name {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            flex: 3;
        }
    }
}