.MainToolbar {
    .main-tools, .sharing-tools {
        display: flex;
        gap: 1rem;

        button {
            padding: 0.5rem;
            border: 1px solid lime;
        }

        .divider {
            background: lime;
            width: 0.1rem;
        }
    }
}