@import "../../../global.scss";

.MainToolbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    z-index: 2;
    clip-path: url("#MainToolbarClip");

    .main-tools, .sharing-tools {
        display: flex;
        gap: 1rem;

        > button { // ">" to not affect modal breadcrumb
            display: flex;
            align-items: center;
            gap: 0.45rem;
            font-size: 1.05rem;
            padding: 0.5rem;
            padding-right: 0.6rem;
            border: 1px solid lime;
            background: black;
            @include btn-selection-styles;

            .tool-icon {
                font-size: 1.4rem;

                &.eye, &.trash, &.move {
                    font-size: 1.25rem;
                }

                &.link {
                    font-size: 1.4rem;
                    margin-bottom: -0.1rem;
                }

                &.share {
                    font-size: 1.2rem;
                }
            }
        }

        .toolbar-divider {
            background: lime;
            width: 0.1rem;
            margin: 0 0.2rem;
        }

        .DownloadBtn {
            clip-path: url(#DownloadBtnClip);
        }
          
        .PreviewBtn {
            clip-path: url(#PreviewBtnClip);
        }
      
        .DeleteBtn {
            clip-path: url(#DeleteBtnClip);
        }

        .MoveBtn {
            clip-path: url(#MoveBtnClip);
        }

        .RenameBtn {
            clip-path: url(#RenameBtnClip);
        }
      
        .StarBtn {
            clip-path: url(#StarBtnClip);
        }
    
        .LinkBtn {
            clip-path: url(#LinkBtnClip);
        }
    
        .ShareBtn {
            clip-path: url(#ShareBtnClip);
        }
    }
}