.MainToolbar {
    .main-tools, .sharing-tools {
        display: flex;
        gap: 1rem;

        button {
            display: flex;
            align-items: center;
            gap: 0.45rem;
            font-size: 1.05rem;
            padding: 0.5rem;
            padding-right: 0.6rem;
            border: 1px solid lime;

            .tool-icon {
                font-size: 1.4rem;

                &.eye, &.trash, &.move {
                    font-size: 1.25rem;
                }

                &.link {
                    font-size: 1.4rem;
                    margin-bottom: -0.1rem;
                }

                &.share {
                    font-size: 1.2rem;
                }
            }
        }

        .divider {
            background: lime;
            width: 0.1rem;
            margin: 0 0.2rem;
        }
    }
}