.AuthPage {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    min-height: 100vh;
    min-width: 100vh;

    &__heading {
        margin-top: 5rem;
        margin-bottom: 3rem;
        width: 80%;

        &.active {
            margin-top: 2rem;
        }
    }

    &__main-cont {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        overflow: hidden;

        .gen-cont {
            width: 27rem;
            font-size: 1rem;
            margin-right: 4rem;
            margin-bottom: 12rem;
            text-align: center;
        }

        .form-cont {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .info {
            width: 25rem;
            margin-bottom: 12rem;
            margin-left: 3rem;
            text-align: center;
        }
    }

    &__textarea {
        font-size: 1rem;
        color: lime;
        background-color: black;
    }

    &__changeFormBtn {
        margin-top: 1.3rem;
        border-bottom: .0625rem solid lime;
    }
}