.File {
    display: flex;
    justify-content: space-between;

    padding: 1rem 0.55rem;
    border-bottom: .0625rem solid lime;

    p {
        margin: 0;
        flex: 1;

        &.file-name {
            flex: 3;
        }
    }
}