.Header {
    background-color: black;
    color: lime;
    width: 100%;
    padding: 0.7rem 0.8rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .125rem dashed lime;
    box-sizing: border-box;

    .main-heading {
        display: flex;
        align-items: center;
        &:hover .image {
            opacity: 0.8;
        }

        .lime-icon {
            font-size: 1.8rem;
            margin-right: .25rem;
        }

        .image {
            height: 2rem;
            width: 10rem;
        }
    }
  
    .search-cont {
        display: flex;
        align-items: center;
  
        .search-icon {
            font-size: 1.3rem;
            color: inherit;
            margin-top: 0.1rem;
            margin-right: -1.8rem;
            z-index: 1;
        }
  
        .search-input {
            width: 40rem;
            padding: 0.5rem;
            padding-left: 2.4rem;
            font-family: inherit;
            background-color: black;
            color: lime;
            border: none;
            outline: none;
            
            font-size: 1rem;
            border: .0625rem solid lime;
        }
    }
  
    .user-cont {
        display: flex;
        align-items: center;

        .username {
            font-size: 1rem;
            margin-right: .625rem;
        }
    
        > .icon-btn-wrapper {
            margin-bottom: 0.18rem;

            .user-settings-icon {
                font-size: 2.3rem;
                cursor: pointer;
            }
        }

        .user-dropdown {
            position: absolute;
            display: flex;
            flex-direction: column;

            padding: .5rem 0;
            font-size: 1.1rem;
            top: 3.9rem;
            right: 0;
            z-index: 999;

            background-color: black;
            color: lime;
            border: 1px solid lime;
            clip-path: url(#userDropdownClip);

            button {
                width: 6rem;
                height: 2rem;
            }
        }
    }
}
  