.Breadcrumb {
    &.transparent {
        opacity: 0;
    }

    > .item {
        white-space: nowrap;
        
        &:last-child {
            overflow: hidden;
            text-overflow: ellipsis;   
        }
    }

    .divider {
        padding: 0 0.6rem;
    }

    .btn-segment {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .dropdown {
        position: absolute;
        display: flex;
        flex-direction: column;
        font-size: 1.3rem;
        padding-top: 0.55rem;
        padding-bottom: 0.85rem;
        margin-top: 2rem;
        background: black;
        border: 1px solid lime;
        clip-path: url(#breadcrumbDropdownClip);
        z-index: 2;

        button {
            width: 100%;
            text-align: center;
            padding: 0 1rem;
            max-width: 20rem;
            height: 2rem;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
}