.MainPage {
    min-height: 100vh;
    min-width: 100vh;
}

.content-wrapper {
    display: flex;
    height: calc(100vh - 4rem);

    .main-content {
        width: 100%;
        overflow-y: auto;
        border-top: none;
        border-left: none;

        .FileList {
            width: 100%;
            padding: 0 0 0.2rem 0;
        }

        &::-webkit-scrollbar-thumb {
            border-right: 2px solid lime;
        }
        &::-webkit-scrollbar-track {
            margin-top: 0;
        }
    }
}