$steps: 30;

.LoadingBar-spinner-before {
    &::before {
        content: '';
        margin-right: 0.5rem;
        animation: rotateLine 0.5s linear infinite;
        animation-play-state: running;
    }
}
.LoadingBar::after {
    content: "";
    animation: fillLoadingBar 1s steps($steps) infinite;
}
.LoadingBar-spinner-after {
    &::after {
        content: '';
        margin-left: 0.5rem;
        animation: rotateLine 0.5s linear infinite;
        animation-play-state: running;
    }
}

@function generate-bar($total, $filled) {
    $bar: "";
    $fill: "#";
    $empty: "-";
  
    @for $i from 1 through $total {
        $bar: if($i <= $filled, $bar + $fill, $bar + $empty);
    }
  
    @return "[#{$bar}]";
}
  
@keyframes fillLoadingBar {
    @for $i from 0 through $steps {
        $percentage: percentage($i / $steps);
        #{$percentage} {
            content: generate-bar($steps, $i);
        }
    }

    99% {
        content: generate-bar($steps, $steps);
    }
}