@import '../../global';

.FileList {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    &.empty-directory {
        height: 100%;
    }

    .FileList-main-header {
        position: sticky;
        padding: 0 2.5rem;
        margin-right: 0.1rem;
        top: 0;
        z-index: 1;
        background: black;

        .Breadcrumb {
            display: flex;
            margin-top: 1.1rem;
            font-size: 1.4rem;
        }

        .MainToolbar {
            display: flex;
            justify-content: space-between;
            margin-top: 1.1rem;
        }

        .list-header-row {
            display: flex;
            align-items: center;
            padding-top: 1.2rem;
            padding-bottom: 1.1rem;
    
            background: black;
            border-bottom: .125rem solid lime;
    
            .list-checkbox {
                position: relative;
                margin-left: -1.8rem;
                margin-right: 0.8rem;
                z-index: 2;
            }
    
            &:hover .list-checkbox {
                opacity: 1;
            }
        
            p {
                padding: 0 0.2rem;
                flex: 1;
                margin: 0;
                font-weight: bold;
                box-sizing: border-box;
    
                &.name-header {
                    flex: 3;
                }
            }
        }
    }

    .main-list {
        margin: 0 2.5rem;

        &.empty-directory {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            margin: 0;
        }

        .File, .Folder {
            position: relative;
            display: flex;
            align-items: center;
            padding: 1rem 0;
            border-bottom: .0625rem solid rgba(0, 255, 0, 0.700);
            cursor: default !important;

            &.over {
                outline: 2px solid lime;
            }
            &.dragging {
                opacity: 0.8;
                background: rgba(0, 255, 0, 0.15) !important;
            }
            &.processing {
                opacity: 0.7;
                background: rgba(0, 255, 0, 0.12) !important;
                cursor: not-allowed !important;

                .list-checkbox {
                    cursor: not-allowed !important;
                }
            }
            &:focus-visible {
                outline: none;
            }

            &:not(.processing) {
                &:hover .list-checkbox {
                    opacity: 1;
                }
                @include btn-selection-styles;
            }
        
            .list-checkbox {
                margin-left: -1.8rem;
                margin-right: 0.8rem;
            }
        
            p {
                padding: 0 0.2rem;
                margin: 0;
                flex: 1;
        
                &.name {
                    display: flex;
                    align-items: center;
                    gap: 0.7rem;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 3;

                    .icon {
                        font-size: 2.2rem;
                        stroke-width: 1px;
                    }

                    span:hover {
                        @include other-selection-styles;
                        cursor: pointer;
                    }
                }
            }
        }

        .empty-message {
            font-size: 2rem;
            margin-top: -1rem;
            font-weight: normal;
            opacity: 0.6;
            text-align: center;
        }
    }

    .drag-overlay {
        .main-drag-cont {
            display: flex;
            align-items: center;
            gap: 0.5rem;
    
            padding: 0.4rem 0.7rem;
            z-index: 9999;
    
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.400);
            border: 2px dashed lime;
            background: black;
    
            .drag-icon-folder {
                font-size: 2.3rem;
            }
            .drag-icon-file {
                font-size: 2rem;
            }
    
            .item-counter{
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
    
                width: 1.8rem;
                height: 1.8rem;
                margin: -0.8rem;
                padding-bottom: 0.1rem;
    
                top: 0;
                right: 0;
                z-index: 1000;
    
                font-weight: bold;
                border: 2px solid lime;
                border-radius: 50%;
                background: black;
                box-sizing: border-box;

                &.larger {
                    width: 2.1rem;
                    height: 2.1rem;
                }
            }
        }
    
        .stack-item {
            position: absolute;
            width: 100%;
            height: 100%;
            box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.400);

            &.second-stack {
                margin-top: -3.7rem;
                margin-left: 0.4rem;
                z-index: -1;
                background: black;
                border: 2px dashed lime;
            }
            &.third-stack {
                margin-top: -3rem;
                margin-left: 1rem;
                z-index: -2;
                background: black;
                border: 2px dashed lime;
            }
        }
    }
}