@import '../../global';

.FileList {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;

    .FileList-main-header {
        position: sticky;
        margin: 0 2.5rem;
        top: 0;
        z-index: 1;
        background: black;

        .Breadcrumb {
            display: flex;
            margin-top: 1.1rem;
            font-size: 1.4rem;
        }

        .MainToolbar {
            display: flex;
            justify-content: space-between;
            margin-top: 1.1rem;
        }

        .list-header-row {
            display: flex;
            align-items: center;
            padding-top: 1.2rem;
            padding-bottom: 1.1rem;
    
            background: black;
            border-bottom: .125rem solid lime;
    
            .list-checkbox {
                position: relative;
                margin-left: -1.8rem;
                margin-right: 0.8rem;
                z-index: 2;
            }
    
            &:hover .list-checkbox {
                opacity: 1;
            }
        
            p {
                padding: 0 0.2rem;
                flex: 1;
                margin: 0;
                font-weight: bold;
                box-sizing: border-box;
    
                &.name-header {
                    flex: 3;
                }
            }
        }
    }

    .main-list {
        margin: 0 2.5rem;

        .File, .Folder {
            @include btn-selection-styles;
            position: relative;
            display: flex;
            align-items: center;
            padding: 1.3rem 0;
            border-bottom: .0625rem solid rgba(0, 255, 0, 0.700);
            cursor: default;

            &:hover .list-checkbox {
                opacity: 1;
            }
        
            .list-checkbox {
                margin-left: -1.8rem;
                margin-right: 0.8rem;
            }
        
            p {
                padding: 0 0.2rem;
                margin: 0;
                flex: 1;
        
                &.name {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    flex: 3;

                    span:hover {
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}