.Sidebar {
    background-color: black;
    color: lime;
    width: 18rem;
    height: 100%;;
    display: flex;
    flex-direction: column;
    border-right: .125rem dashed lime;
    box-sizing: border-box;

    .new-btn {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        gap: 0.4rem;
        height: 5rem;
        margin: 1.8rem;
        margin-bottom: 0;
        border: .125rem dashed lime;
        padding-right: 0.5rem;
    }

    .new-menu {
        position: absolute;
        display: flex;
        flex-direction: column;

        font-size: 1.1rem;
        width: 13.05rem;
        padding: 0;
        margin: 0;

        left: 1rem;
        top: 10.75rem;
        z-index: 1;

        background: black;
        outline: 1px solid lime;

        button {
            display: flex;
            align-items: center;
            width: 100%;
            height: 2.8rem;
            padding-left: 0.6rem;
            text-align: left;
            gap: 0.5rem;

            &:first-child {
                border-bottom: 1px solid rgba(0, 255, 0, 0.374);
            }
            &:first-child, &:last-child {
                height: 3.1rem;
            }

            .menu-icon {
                font-size: 1.5rem;
                display: flex;
                justify-content: center;
                align-items: center;

                .inner-icon {
                    position: absolute;
                    font-size: 0.7rem;
                    margin-top: 0.2rem;
                    color: black;
                }
            }
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        padding-top: 1.6rem;
        padding-left: 1.1rem;
        gap: 1.4rem;

        a {
            display: flex;
            align-items: center;
            gap: 0.8rem;
            font-size: 1.4rem;
            width: 12.5rem;
            text-decoration: none;
            color: lime;

            .nav-icon {
                font-size: 1.5rem;

                &.all-files {
                    font-size: 1.3rem;
                    margin-bottom: -0.1rem;
                    margin-right: 0.16rem;
                    margin-left: 0.2rem;
                }

                &.shared {
                    font-size: 1.6rem;
                    margin-bottom: -0.1rem;
                    margin-right: -0.03rem;
                }

                &.starred {
                    font-size: 1.65rem;
                    margin-top: -0.01rem;
                    margin-right: -0.06rem;
                    margin-left: -0.1rem;
                }

                &.media-gallery {
                    margin-bottom: -0.05rem;
                    margin-right: 0.03rem;
                    margin-left: -0.03rem;
                }

                &.recycle-bin {
                    font-size: 1.45rem;
                    margin-top: -0.11rem;
                    margin-left: -0.03rem;
                }
            }
        }
    }
  
    .space-left {
        border-top: .0625rem solid lime;
        margin-top: auto;
        text-align: center;

        h1 {
            font-size: 1.2rem;
            margin-bottom: .625rem;
        }

        .bar {
            width: 80%;
            height: .625rem;
            background-color: lime;
            border: .0625rem solid lime;
            margin: 0 auto .625rem;
        }

        .label {
            font-size: 0.8rem;
        }
    }
}

.new-folder-modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 22.5rem;
    height: 15rem;
    padding: 1.4rem;
    padding-top: 1.1rem;
    padding-bottom: 1.5rem;
    margin: 0 auto;
    z-index: 999;

    top: 15rem;
    left: 0;
    right: 0;
    bottom: 0;

    background: black;
    border: 1px solid lime;
    clip-path: url(#newFolderModalClip);
    overflow: visible;

    .close-icon {
        position: absolute;
        font-size: 1.5rem;
        top: .5rem;
        right: .5rem;
    }

    .heading-cont {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.3rem;
        margin-left: -0.1rem;

        .modal-icon {
            font-size: 2.4rem;
        }

        h1 {
            font-size: 1.4rem;
            margin: 0;
        }
    }

    .input-cont {
        margin: auto 0;

        label {
            display: block;
            width: 100%;
            font-size: 1.1rem;
        }

        input {
            width: 100%;
            padding: 0.4rem;
            margin-top: 0.3rem;
            font-size: 1rem;
            border: .0625rem solid lime;
            box-sizing: border-box;
        }

        .error-message {
            position: absolute;
            margin: 0;
            margin-top: 0.3rem;
        }
    }

    .btn-cont {
        margin-top: auto;
        display: flex;
        width: 100%;
        justify-content: flex-end;
        gap: 1rem;

        button {
            padding: 0.5rem;
        }

        .cancel-btn {
            border: 2px dashed lime;
        }

        .create-btn {
            border: 1px solid lime;
            font-weight: bold;
        }
    }
}

.new-folder-modal-shadow {
    position: fixed;
    width: 25.4rem;
    height: 1.2rem;
    margin: 0 auto;
    z-index: 998;

    top: 31.5rem;
    left: 0rem;
    right: 0;
    bottom: 0;
    
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.403);
    opacity: 0;
    transition: opacity 0.3s;
}