.delete-modal {
    top: 13.5rem;
    width: fit-content;
    height: 15rem;
    clip-path: url("#deleteModalClip");

    h1 {
        margin-top: 0.2rem;
    }

    .main-content {
        justify-self: center;
        display: flex;
        align-items: center;
        flex-direction: column;
        height: fit-content;
        margin-top: 1.1rem;
        gap: 0.8rem;
        
        .warning-icon {
            font-size: 3.2rem;
        }

        > p {
            text-align: center;
            font-size: 1.1rem;
            margin: 0;
    
            strong {
                text-decoration: underline;
                text-underline-offset: 0.1rem;
            }
        }
    }
}