.SortingToolbar {
    display: flex;
    gap: 2rem;

    .main-sort-cont, .secondary-sort-cont {
        display: flex;
        gap: 0.7rem;
        
        > button {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 0.6rem;
            padding: 0.5rem 0.9rem;
            padding-bottom: 0.6rem;
            border: 2px solid lime;
            border-radius: 999px;
            clip-path: url(#sortBtnClip);

            .chevron {
                font-size: 1.1rem;
                margin-bottom: -0.25rem;
            }
        }

        .type-sort-btn {
            padding-left: 1rem;
        }
        .people-sort-btn {
            padding-left: 1rem;
        }
    }
} 