:root {
    body {
        &::-webkit-scrollbar-thumb {
            border-right: .125rem solid lime;
        }
    }
}

html {
    min-height: 100vh;
    color-scheme: dark;
    cursor: pointer;
}

body {
    font-family: "consolasregular";
    background: black;
    min-height: 100vh;
    margin: 0;
    color: lime;
    box-sizing: border-box;
    cursor: default;
}
    input {
        border: none;
        outline: none;
    }

    button {
        appearance: none;
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: none;
        
        color: inherit;
    }

    a {
        text-decoration: none;
        color: inherit;

        &:hover {
            opacity: 0.7;
        }
    }

    input {
        color: inherit;
        
        &::placeholder {
            color: rgba(0, 255, 0, 0.605);
        }
    }

    [disabled] {
        cursor: not-allowed !important;
        opacity: 0.7 !important;
    }

    .eye-icon:hover {
        opacity: 0.7;
    }

    button {
        &:hover {
            background-color: rgba(0, 255, 0, 0.15);
        }
        &:active {
            background-color: rgba(0, 255, 0, 0.1);
        }
    }

    ::-webkit-scrollbar:horizontal{ 
        height: .5rem;
    }
    ::-webkit-scrollbar {
        width: .5rem;
    }
        ::-webkit-scrollbar-track {
            background: transparent;
            outline: .125rem dashed lime;
        }
        ::-webkit-scrollbar-thumb {
            background-color: black;
            outline: .125rem solid lime;
            cursor: pointer !important;
            
            &:hover {
                background-color: rgba(0, 255, 0, 0.332);
            }
        }

@keyframes rotateLine {
    0% {
        content: '/';
    }
    25% {
        content: '—';
    }
    50% {
        content: '\\';
    }
    75% {
        content: '|';
    }
    100% {
        content: '/';
    }
}

@mixin selection-styles {
    &.selected {
        background-color: rgba(0, 255, 0, 0.25);

        &:hover {
            background-color: rgba(0, 255, 0, 0.25);
        }
    }
    &:hover {
        background-color: rgba(0, 255, 0, 0.15);
    }
    &:active {
        background-color: rgba(0, 255, 0, 0.1);
    }
}