.UploadInfo {
    position: absolute;
    width: 23rem;
    bottom: 0;
    right: 0;
    z-index: 3;
    background: black;
    clip-path: url(#uploadInfoClip);
    
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1rem;
        padding: 0.7rem;
        padding-right: 0.5rem;
        border: .0625rem solid lime;
        cursor: pointer;

        .spinner-after {
            &::after {
                margin-right: 5.7rem;
            }
        }

        &__icons-cont {
            display: flex;
            align-items: center;
            gap: 0.6rem;
            font-size: 1.4rem;
        }
    }

    .upload-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border: .125rem dashed lime;
        border-top: none;

        font-size: 0.9rem;
        max-height: 19.35rem;
        padding: 0 1rem;
        overflow-y: auto;

        .file {
            display: flex;
            align-items: center;
            width: 100%;
            padding: 1.1rem 0;
            border-bottom: 1px solid rgba(0, 255, 0, 0.7);
            border-left: none;
            border-right: none;

            &:last-child {
                border-bottom: none;
            }

            .file-icon {
                font-size: 1.3rem;
                margin-right: 0.6rem;
            }
            
            .file-info {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                max-width: 12.3rem;
                
                .name, .progress-and-location {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .link {
                    text-decoration: underline;
                    text-underline-offset: 0.15rem;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            button {
                font-size: 0.9rem;
                padding: 0.5rem;
                white-space: nowrap;
                border: 1px solid lime;
                margin-left: auto;

                &.cancel-btn {
                    border: 2px dashed lime;
                }
            }
        }

        &::-webkit-scrollbar {
            width: .6rem;
        }
            &::-webkit-scrollbar-thumb {
                background-size: 0.9rem;
            }
    }
}