@import "../../../../global.scss";

.move-modal {    
    width: 30rem;
    height: 30rem;
    clip-path: url("#moveModalClip");

    h1 {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        margin-top: 0.5rem;
    }
    
    .Breadcrumb {
        font-size: 1.1rem !important;
        margin-bottom: 0.5rem;

        > .item:last-child {
            display: flex; 
                       
            button {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .dropdown {
            font-size: 1rem;
            max-width: 16rem;
            margin-top: 1.9rem;
        }
    }

    .move-list {
        display: flex;
        flex-direction: column;
        overflow: auto;
        height: 21rem;

        &::-webkit-scrollbar {
            width: 0.6rem;
        }

        .folder {
            @include btn-selection-styles-transparent;
            position: relative;
            flex-shrink: 0;
            overflow: hidden;
            display: flex;
            align-items: center;
            gap: 0.7rem;
            padding: 1.028rem 0;
            padding-right: 2rem;
            border-bottom: .0625rem solid rgba(0, 255, 0, 0.500);

            &.selected-for-moving {
                &::after {
                    position: absolute;
                    content: "[Selected for moving]";
                    right: 0.5rem;
                    bottom: 0.4rem;
                    font-size: 0.7rem;
                }
            }
            &.move-selected {
                background: rgba(0, 255, 0, 0.25);
            }

            &-icon {
                flex-shrink: 0;
                font-size: 2.1rem;
            }
            .text-cont {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
                width: fit-content;
            }
            .subfolders-indicator {
                position: absolute;
                right: 0.9rem;
                margin-top: -0.2rem;
                font-size: 1.3rem;
            }
        }
    }

    .modal-primary-btn {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}